<% @page_title = 'REVIEW YOUR ORDER' %>

<%= content_for :head do %>
  <%= javascript_include_tag 'https://maps.google.com/maps/api/js?sensor=false' %>
<% end %>

<div class="row checkout-container" id="checkout-content" data-hook>
  <div class="col-xs-12 col-sm-5 col-md-5">
    <div class="checkout-container index">

      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: name %>
      <% end -%>

      <%# Shipping Address Form %>
      <%= render 'spree/checkout/single_page_checkout/address_form' %>

      <%# Payment Information %>
      <%= render 'spree/checkout/single_page_checkout/payment_form' %>
    </div>
  </div>

  <%# Order Summary - Displays to right of address & payment info & is updated via AJAX %>
  <div class="col-xs-12 col-sm-7 col-md-7">
    <h2>Order Summary</h2>
    <div class="panel-box" id="checkout-summary">
      <div id="line-items">
      <% @order.line_items.each do |item| %>
        <div class="row">
          <div class="col-xs-2 col-sm-2 col-md-2">
            <%= small_image(item.variant) %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2 col-sm-1 col-md-1">
            <%= item.quantity %>
          </div>
          <div class="col-xs-10 col-sm-8 col-md-8">
            <%= item.name %>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3 right-text">
            <%= number_to_currency( item.price ) %>
          </div>
        </div>
      <% end %>
      </div>


      <%# Addon items. Elements inside are generated via the JS file. %>
      <div class="checkout-addons-header row">
      </div>
      <div class="checkout-addons row">
      </div>


      <%# Price adjustments / promotions %>
      <%# For line-item promotions %>
      <div id="line-item-adjustments">
      <% if @order.line_item_adjustments.exists? %>
        <% @order.line_item_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
          <div class="checkbox-box promotion-label">
              <%= label %> &nbsp;
              <%= Spree::Money.new(adjustments.sum(&:amount)).to_html %>
          </div>
        <% end %>
      <% end %>
      </div>
      <%# For promotions on the whole order %>
      <div id="order-adjustments">
        <% if @order.adjustments.exists? %>
          <% @order.adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
            <div class="checkbox-box promotion-label">
                <%= label %> &nbsp;
                <%= Spree::Money.new(adjustments.sum(&:amount)).to_html %>
            </div>
          <% end %>
        <% end %>
      </div>

      <%# Tax %>
      <div id="taxes">
      <% @order.all_adjustments.tax.eligible.group_by(&:label).each do |label, adjustments| %>
        <div class="checkbox-box">
          <%= label %> &nbsp;
          (+ <%= Spree::Money.new(adjustments.sum(&:amount)).to_html %>)
        </div>
      <% end %>
      </div>

      <%# Order Total %>
      <div class="row total">
        <div class="col-xs-6 col-sm-9 col-md-9">Total</div>
        <div class="col-xs-6 col-sm-3 col-md-3 right-text checkout-total"><%= number_to_currency( @order.total ) %></div>
      </div>


      <%# Pay button container required for the shake effect %>
      <div id="pay-button-container">
        <button class="btn checkout-btn btn-lg btn-primary btn-block" id="checkout-pay-btn">
           Pay&nbsp;<span class="checkout-total" id="button-price"><%= number_to_currency( @order.total ) %></span>
          <%# Displays when form is invalid %>
          <span id="need-info-message">Missing required info</span>
        </button>
      </div>
    </div>
  </div>
</div>

<%# Mustache Template to fill in line_items into shipments after first load %>
<script id="checkout-shipment-template" type="text/x-handlebars-template">
  Shipment #{{number}}
  {{#each shipment.manifest}}
    <div class="row">
      <div class="col-xs-2 col-sm-2 col-md-2">
        <img src="{{variant.images.[0].mini_url}}" alt="{{variant.name}}"></img>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2 col-sm-1 col-md-1">
        {{quantity}}
      </div>
      <div class="col-xs-10 col-sm-8 col-md-8">
        {{variant.name}}
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 right-text">
        {{variant.display_price}}
      </div>
    </div>
  {{/each}}
  <div class="checkout-shipping row">
    <p>Shipping: </p>
    {{#each shipment.shipping_rates}}
      <div class="checkbox">
        <input type="radio" name="checkout_shipping" shipment="{{../shipment.id}}"
          val="{{id}}" id="checkout_shipping{{id}}" />
        <label for="checkout_shipping{{id}}">
        {{#ifEql ../shipment.selected_shipping_rate.id this.id}}
          <i class="fa fa-check-square-o"></i>
        {{else}}
          <i class="fa fa-square-o"></i>
        {{/ifEql}}
          {{name}} &nbsp; ( +{{display_cost}} )
        </label>
      </div>
    {{/each}}
  </div>

  <hr />
</script>
