<%= content_for :head do %>
  <%= javascript_include_tag 'https://maps.google.com/maps/api/js?sensor=false' %>
<% end %>

<div class="row spc-heading">
  <header class="col-xs-12">
    <h1><%= Spree.t('single_page_checkout.heading') -%></h1>
  </header>
</div>

<div class="row checkout-container" id="checkout-content">
  <div class="col-xs-12 col-sm-5 col-md-5">
    <div class="index">

      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: name %>
      <% end -%>

      <%# Email Address %>
      <h3>Email Address</h3>
      <div class="emailInfo info">
        <div class="row">
          <form class="col-md-12">
            <input type="email" class="form-control" id="order-email" name="order[email]" value="<%= @order.email %>" autocomplete="email" required="required"/>
          </form>
        </div>
      </div>

      <%# Shipping Address Form %>
      <h3>Shipping Address</h3>
      <div class="addressInfo info" id="spc-shipping-address">
        <%= render partial: 'spree/checkout/single_page_checkout/address_form',
            locals: { address: @order.shipping_address ||= Spree::Address.new(country_id: Spree::Config.default_country_id), geolocate: true } %>
      </div>
      <div class="spc-billing-toggle-container">
        <%= check_box_tag 'billing', 'yes', true, class: 'billing-address-toggle' %>
        <%= label_tag 'billing' do %>
          <span class='fa fa-check-square-o'></span>
          Use Same Address For Billing
        <% end %>
      </div>

      <%# Billing Address Form %>
      <div class="addressInfo info" id="spc-billing-address">
        <h3>Billing Address</h3>
        <%= render partial: 'spree/checkout/single_page_checkout/address_form',
            locals: { address: @order.billing_address ||= Spree::Address.new(country_id: Spree::Config.default_country_id), geolocate: false } %>
      </div>

      <%#= render partial: 'spree/checkout/single_page_checkout/button',
          locals: { content: Spree.t('single_page_checkout.next'), id: 'address-next', klass: 'spc-disabled' } %>

      <% if @order.payment_required? %>
        <%# Payment Information %>
        <%= render 'spree/checkout/single_page_checkout/payment_form' %>
        <%= render partial: 'spree/checkout/single_page_checkout/button',
            locals: { content: Spree.t('single_page_checkout.next'), id: 'payment-next', klass: 'spc-disabled' } %>
      <% end %>
    </div>
  </div>

  <%# Order Summary - Displays to right of address & payment info & is updated via AJAX %>
  <div class="col-xs-12 col-sm-7 col-md-7">
    <%= render partial: 'spree/checkout/single_page_checkout/pay_button' %>
    <%= render partial: 'spree/checkout/single_page_checkout/summary' %>
  </div>
</div>

<%# Mustache Template to fill in line_items into shipments after first load %>
<script id="checkout-shipment-template" type="text/x-handlebars-template">
  Shipment #{{number}}
  {{#each shipment.manifest}}
    <div class="row">
      <div class="col-xs-2 col-sm-2 col-md-2">
        <img src="{{variant.images.[0].mini_url}}" alt="{{variant.name}}"></img>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2 col-sm-1 col-md-1">
        {{quantity}}
      </div>
      <div class="col-xs-10 col-sm-8 col-md-8">
        {{variant.name}}
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 right-text">
        ${{display_amount}}
      </div>
    </div>
  {{/each}}
  <div class="checkout-shipping row">
    <p>Shipping: </p>
    {{#each shipment.shipping_rates}}
      <div class="checkbox">
        <input type="radio" name="checkout_shipping" shipment="{{../shipment.id}}"
          val="{{id}}" id="checkout_shipping{{id}}" />
        <label for="checkout_shipping{{id}}">
        {{#ifEql ../shipment.selected_shipping_rate.id this.id}}
          <i class="fa fa-check-square-o"></i>
        {{else}}
          <i class="fa fa-square-o"></i>
        {{/ifEql}}
          {{name}} &nbsp; ( +{{display_cost}} )
        </label>
     </div>
    {{/each}}
  </div>

  <hr />
</script>
