<%= form_for address, url: spree.api_order_path(@order), html: { autocomplete: 'on' } do |form|%>
  <div class="row top-row">
    <%= form.text_field(:full_name,
      required: true,
      id: "#{ address.id }-full-name",
      class: 'form-control name',
      placeholder: 'Name',
      autocomplete: 'name'
    ) %>
  </div>
  <div class="row middle-row">
    <div class="col-md-12">
      <%= form.collection_select(:country_id,
        available_countries,
        :id,
        :name,
        { include_blank: true },
        {
          id: "#{ address.id }-country-id",
          class: 'form-control country',
          required: true,
          autocomplete: 'country-name'
        }
      ) %>
    </div>
  </div>
    <div class="row middle-row">
      <% if geolocate %>
        <div class="col-xs-10 noPadding">
          <%= form.text_field(:address1,
            required: true,
            id: "#{ address.id }-address1",
            class: 'form-control street',
            placeholder: 'Address',
            autocomplete: 'address-line1'
          ) %>
        </div>
        <div class="col-xs-2 noPadding geoLocator right-col">
          <i class="fa fa-crosshairs"></i>
        </div>
      <% else %>
        <div class="col-md-12">
          <%= form.text_field(:address1,
            required: true,
            id: "#{ address.id }-address1",
            class: 'form-control street',
            placeholder: 'Address',
            autocomplete: 'address-line1'
          ) %>
        </div>
      <% end %>
    </div>
  <div class="row middle-row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <%= form.text_field(:address2,
        id: "#{ address.id }-address2",
        class: 'form-control apt',
        placeholder: 'Address 2',
        autocomplete: 'address-line2'
      ) %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 right-col">
      <%= form.text_field(:city,
        required: true,
        id: "#{ address.id }-city",
        class: 'form-control city',
        placeholder: 'City',
        autocomplete: 'address-level2'
      ) %>
    </div>
  </div> <%# .row %>
  <div class="row middle-row">
    <div class="col-xs-12 col-sm-8 col-md-8 states-container">
      <% if form.object.state_name.present? %>
        <%= form.text_field(:state_name,
          id: "#{ address.id }-address_state_name",
          class: 'form-control state',
          placeholder: 'State, Province, or Region',
          autocomplete: 'address-level1'
        )%>
      <% else %>
        <% state_name = form.object.state ? form.object.state.name : nil %>
        <%= form.collection_select(:state_name,
          form.object.country.states.sort,
          :name,
          :name,
          {
            selected: state_name,
            include_blank: true
          },
          {
            id: "#{ address.id }-state-name",
            class: 'form-control state',
            required: true,
            autocomplete: 'address-level1',
            placeholder: 'State'
          }
        ) %>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 right-col">
      <%= form.text_field(:zipcode,
        required: true,
        id: "#{ address.id }-zipcode",
        class: 'form-control zipcode',
        placeholder: 'Zip',
        autocomplete: 'postal-code'
      ) %>
    </div>
  </div>
  <div class="row bottom-row">
    <div class="col-md-12">
      <%= form.phone_field(:phone,
        required: true,
        id: "#{ address.id }-phone",
        class: 'form-control phone',
        placeholder: 'Phone',
        autocomplete: 'tel-national'
      ) %>
    </div>
  </div>
<% end %>
