<h3>Payment Information</h3>
<div class="paymentInfo info">
  <%= form_tag update_checkout_path(state: 'payment'), { autocomplete: 'on', method: 'patch', id: 'payment-form' } do %>
    <%= hidden_field_tag 'action', 'update' %>
    <%= hidden_field_tag 'state', 'payment' %>

    <div class="row top-row">
      <%= hidden_field_tag 'order[payments_attributes][][payment_method_id]',
        @order.available_payment_methods.first.id,
        id: 'payment_method_id' %>
      <%= text_field_tag(
        "payment_source[#{ @order.available_payment_methods.first.id }][name]",
        "#{ session[:payment_details] ? session[:payment_details][:name] : nil }",
        {
          id: 'name',
          class: 'form-control paymentName',
          autocomplete: 'cc-name',
          placeholder: 'Cardholder Name',
          required: true
        }
      ) %>
    </div>

    <div class="row middle-row">
      <div class="col-md-12">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-fw fa-credit-card"></i></span>
          <%= text_field_tag(
            "payment_source[#{ @order.available_payment_methods.first.id }][number]",
            "#{ session[:payment_details] ? session[:payment_details][:number] : nil }",
            {
              id: 'number',
              class: 'form-control',
              autocomplete: 'cc-number',
              placeholder: 'Card Number',
              pattern: '\d*',
              required: true
            }
          ) %>
          <%= hidden_field_tag(
            "payment_source[#{ @order.available_payment_methods.first.id }][cc_type]",
            nil,
            { id: 'cc-type' }
          ) %>
        </div>
      </div>
    </div>

    <div class="row middle-row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="input-group date">
          <span class="input-group-addon"><i class="fa fa-fw fa-calendar-o"></i></span>
          <%= text_field_tag(
            "payment_source[#{ @order.available_payment_methods.first.id }][expiry]",
            "#{ session[:payment_details] ? session[:payment_details][:expiry] : nil }",
            {
              autocomplete: 'cc-exp',
              class: 'form-control date',
              id: 'date',
              pattern: '\d*',
              placeholder: 'MM / YY',
              required: true
            }
          ) %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 right-col">
        <div class="input-group code">
          <span class="input-group-addon"><i class="fa fa-fw fa-lock"></i></span>
          <%= text_field_tag(
            "payment_source[#{ @order.available_payment_methods.first.id }][verification_value]",
            nil,
            {
              autocomplete: 'cc-csc',
              class: 'form-control code',
              id: 'verification_value',
              pattern: '\d*',
              placeholder: 'CVC',
              required: true
            }
          ) %>
        </div>
      </div>
    </div>

    <div class="row bottom-row">
      <%= text_field_tag(
        'order[coupon_code]',
        nil,
        {
          class: 'form-control coupon',
          id: 'coupon_code',
          placeholder: 'Promotion Code'
        }
      ) %>
    </div>
  <% end %>
  <% session[:payment_details] = nil %>
</div>
